<div class='container'>

    <div>
        <img src="{{movieDetail.image}}" alt="" srcset="">
    
    </div>
    <div> 

       <h3>{{movieDetail.title}}</h3>
        <h4>Director: {{movieDetail.director}}</h4>
        <h4>Stars</h4>
        
        {{movieDetail.description}}
       
        {{movieDetail.showTimes}}
    </div>
  
</div>


